@use "@styles/variables";
@use "@styles/mixins";

.checkbox {
	position: relative;
	display: flex;
	align-items: center;
	gap: .5rem;
	margin: .5rem 0;

	color: var(--text-info-color);

	user-select: none;
	cursor: pointer;

	&:hover, &:has(> input:checked) {
		color: var(--accent-hover-color);
	}

	> input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;

		&:checked ~ .checkbox__skin {
			background: var(--accent-color);

			svg {
				display: initial;
				color: white;
				width: 75%;
				height: 75%;
			}
		}
	}

	&__skin {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 1.5rem;
		aspect-ratio: 1/1;
		border: 1px solid #ddd;
		border-radius: .5rem;
		transition: .3s;

		svg {
			display: none;
		}
	}
}