PORT=3909

DB_HOST="localhost"
DB_PORT=5432
DB_NAME="csu"
DB_USER="admin"
DB_PASSWORD="verystr0ngpa55w0rd"
DATABASE_URL="postgresql://admin:verystr0ngpa55w0rd@localhost:5432/csu"

SESSION_TTL_DAYS=30
CORS_ORIGIN="http://localhost:5173"