PORT=3909

DB_HOST="127.0.0.1"
DB_PORT=5432
DB_NAME="bfu_csu"
DB_USER="admin"
DB_PASSWORD="adminpass"
DATABASE_URL="postgres://admin@adminpass@127.0.0.1:5432/bfu_csu"

ADMIN_EMAIL="admin@kantiana.ru"
ADMIN_PASSWORD="admin123"

UPLOAD_DIR="./uploads"

ML_SERVICE_URL="http://127.0.0.1:3911"
ML_SERVICE_TOKEN="change-me"