:root {
	--accent-color: #21145f;
	--accent-hover-button: #342b70;
	--accent-hover-color: #584da1;

	--text-primary-color: #222;
	--text-secondary-color: #555;
	--text-info-color: #999;

	--border-primary-color: #e7e7e7;
}