:root {
    --accent-color: #20185d;
    --accent-hover-button: #342b70;
    --accent-hover-color: #584da1;

    --text-primary-color: #222;
    --text-secondary-color: #555;
    --text-info-color: #999;
}