@use "@styles/variables";

.password-view {
	height: 100%;
	box-sizing: border-box;
	padding: .75rem 0;

	svg {
		height: 100%;
		aspect-ratio: 1/1;
		cursor: pointer;

		&:hover > path {
			stroke: var(--accent-color);
		}
		
		path {
			stroke: #aaa;
			stroke-width: 1.5;
		}
	}
}